.cmp-radarchart-container {
	background-color:  #282D30;
	;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-tooltip-radar {
	background-color: white;
	border-radius: 50px;
}
.custom-tooltip-radar > .desc {
	padding: 5px;
}
