.cmp-linechart-container {
	border-radius: 5px;
	background-color: red;
	width: calc(33.3% - 20px);
	height: 100%;
}
.cmp-linechart-header {
	width: 60%;

	padding-left: 25px;
	padding-top: 15px;
}
.cmp-linechart-header > h3 {
	font-size: 15px;
	font-weight: 500;
	color: #ffffffa1;
}
