.cmp-linechart-container {
	border-radius: 5px;
	background-color: red;
}
.cmp-linechart-header {
	width: 60%;
	padding-left: 25px;
	padding-top: 15px;
}
.cmp-linechart-header > h3 {
	font-size: 15px;
	font-weight: 500;
	color: #ffffffa1;
}
.custom-tooltip-line {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 25px;
}
