.cmp-card {
	width: 100%;
	max-height: 124px;
	padding: 20px 5px 20px;
	background-color: #fbfbfb;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.cmp-card:hover {
	transform: scale(1.03);
	cursor: pointer;
	transition: 400ms;
}
.cmp-card > .cmp-card-logo > img {
	padding: 20px;
	border-radius: 6px;
}

.cmp-card:nth-child(1) > .cmp-card-logo > img {
	background-color: hsl(0, 100%, 50%, 0.07);
}
.cmp-card:nth-child(2) > .cmp-card-logo > img {
	background-color: rgba(74, 184, 255, 0.1);
}
.cmp-card:nth-child(3) > .cmp-card-logo > img {
	background-color: rgb(249, 207, 36, 0.1);
}
.cmp-card:nth-child(4) > .cmp-card-logo > img {
	background-color: rgba(253, 81, 129, 0.1);
}
.cmp-card > .cmp-card-body {
	margin-left: 1em;
}
.cmp-card > .cmp-card-body > h2 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 20px;
	color: #282d30;
}
.cmp-card > .cmp-card-body > p {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	color: #74798c;
}
