.cmp-radialchart-container {
	background-color: #f7f7f7;
	border-radius: 5px;
	position: relative;
}
.cmp-radialchart-container > p {
	position: absolute;
	top: 5%;
	left: 10%;
}
.cmp-radialchart-description {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
