.main {
	padding: 50px;
}
.main > div {
	margin-top: 30px;
}
.btn-user {
	text-decoration: none;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 0 15px 0;
	color: red;
}
.btn-user:hover {
	border: 2px solid red;
	color: black;
}
