.main > h2 > span {
	color: red;
}
.main > button {
	margin: 25px;
	padding: 10px;
	border: 2px solid red;
	border-radius: 5px;
	background-color: white;
	color: red;
}
.main > button:hover {
	cursor: pointer;
	border: 2px solid black;
	color: black;
}
.main > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
.btn-user {
	text-decoration: none;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 15px 0;
	color: red;
}
.btn-user:hover {
	border: 2px solid red;
	color: black;
}
